
@{
    ViewBag.Title = "Easel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Easel</h2>



<div class="loadingModal" id="loadingSpinner" style="display: none"></div>

<div class="form-group">
    <label class="control-label" for="player">Current Player</label>
    <select id="player" class="form-control">
    </select>
    
</div>

<div>
    <canvas id="demoCanvas" width="1000" height="1000" style="border: 1px solid black"></canvas>
</div>




@section scripts
{
    <script src="~/Scripts/EaselJS-0.8.0.min.js"></script>
    <script src="~/Scripts/Game/easelHex.js"></script>
    <script src="~/Scripts/Game/easel.js"></script>
}





