@using System.Web.Optimization


<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
@*<link href="~/Content/toastr.min.css" rel="stylesheet" />
<link href="~/Content/spaceStyles.css" rel="stylesheet" />*@
@{
    ViewBag.Title = "Space Exploration";
}





<div ng-app="space" ng-cloak>

    <toaster-container></toaster-container>



    <div class="row">
        <div class="col-md-12">
            <menu-bar></menu-bar>
            <div ui-view></div>
        </div>
    </div>





</div>

@section scripts
{
    
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/spaceApp")
    

    
}


