
@{
    ViewBag.Title = "ees game";
}




<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href="~/Content/spaceStyles.css" rel="stylesheet" />
@{
    ViewBag.Title = "Space Exploration";
}





<div ng-app="space" ng-cloak>

    <toaster-container></toaster-container>



    <div class="row">
        <div class="col-md-12">
            <menu-bar></menu-bar>

            <ng-view></ng-view>
        </div>
    </div>





</div>

@section scripts
{
    
    <script src="~/Scripts/angular-1.3.11.min.js"></script>
    <script src="~/Scripts/angular-route-1.3.11.min.js"></script>
    <script src="~/Scripts/angular-animate-1.3.11.min.js"></script>
    <script src="~/Scripts/angToaster.js"></script>

  
    <script src="~/Scripts/Space/hexMap.js"></script>
    <script src="~/Scripts/Space/spaceRoutes.js"></script>
    <script src="~/Scripts/Space/spaceFactory.js"></script>
    <script src="~/Scripts/Space/Controllers/homeController.js"></script>
    <script src="~/Scripts/Space/Controllers/messagesController.js"></script>
    <script src="~/Scripts/Space/Controllers/profileController.js"></script>
    <script src="~/Scripts/Space/Controllers/shipsController.js"></script>
    <script src="~/Scripts/Space/Controllers/mapController.js"></script>
    <script src="~/Scripts/Space/Controllers/menuController.js"></script>
    <script src="~/Scripts/Space/Controllers/gameController.js"></script>
}


