

.profileHeader {
    text-decoration: underline;
}

.coveredOrange {
    color: black;
    font-weight: bold;
    text-align: center;
    border-radius: 6px;
    background-color: #df691a;
    background-color: rgba(223, 105, 26, 1)
}

.coveredBrown {
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    background-color: #df691a;
    background-color: rgba(223, 105, 26, .25)
}

.coveredPink {
    color: black;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    background-color: #d75e5e;
    background-color: rgba(215, 94, 94, 1)
}

.uncovered {
    text-align: center;
    color: black;
    font-weight: bold;
    background-color: #faf2cc  !important;
    border-radius: 4px;
}

.orangeIncome {
    
}

.table tr > td {
    width: 50px;
}

.incomeTable {
    margin-top: 20px;   
}

.tile {
    height: 100px;
    width: 100%;
    background-color: #d2b48c;
    border-radius: 4px;
    
}

.tileTrack {
    text-align: center;
    color: gray;
    display: block;
    margin: auto;
    padding-top: 15px;
    /*color: rgba(0, 0, 0, 0.5);*/
}

.tileImage {
    display: block;
    margin: auto;
    padding-top: 15px;
}

.tileDetail {
    width: 100%;
}

.disc {
    height: 50px;
    width: 100%;
    background-color: blue;
    border-radius: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.unusedDisc {
    font-weight: bold;
    background-color: #00ced1;
    color: gray;

}

.discValue {
        
}

.colonyToken {
    width: 100%;
    height: 75px;
    background-color: #d2b48c;
    border-radius: 4px;
}

.colonyShipImage {
    display: block;
    margin: auto;
    padding-top: 15px;
}

.upgradeTile {
    width: 100%;
    height: 125px;
    background-color: #d2b48c;
    border-radius: 4px;
    color: black;
}

.upgradeImage {
    display: block;
    margin: auto;
    padding-top: 5px;
}

.takingTurns {
    height: 200px;
    background-color: green;
    border-radius: 4px;
}

.loadingModal {
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('Images/loadingRedCircle.gif') 
                50% 50% 
                no-repeat;
}