
<div class="loadingModal" ng-show="loading"></div>

<div class="row">
    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>Division 1</dt>
            <dd>{{tileCounts.DivisionOne}}</dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>Division 2</dt>
            <dd>{{tileCounts.DivisionTwo}}</dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>Division 3</dt>
            <dd>{{tileCounts.DivisionThree}}</dd>
        </dl>
    </div>
</div>

    


<canvas id="HexCanvas" width="1000" height="1000"></canvas>

