
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills">
            <li role="presentation"><a href="#/">HOME</a></li>
            <li role="presentation"><a href="#/Profile">Profile</a></li>
            <li role="presentation"><a href="#/Messages">Messages</a></li>
            <li role="presentation"><a href="#/Ships">Ships</a></li>
            <li role="presentation" class="active"><a href="#/Map">Map</a></li>
        </ul>
    </div>
</div>

<canvas id="HexCanvas" width="1000" height="1000"></canvas>