<div class="row">
    <div class="col-md-12" style="margin-top: 10px">
        <ul class="nav nav-pills">
            <li role="presentation" ng-class="{active: isActive('/')}">
                <a ui-sref="Home">HOME</a>
            </li>
            <li role="presentation" ng-class="{'active': isActive('/Profile')}">
                <a ui-sref="Profile">Profile</a>
            </li>
            <li role="presentation" ng-class="{active: isActive('/Messages')}">
                <a ui-sref="Messages">Messages</a>
            </li>
            <li role="presentation" ng-class="{active: isActive('/Ships')}">
                <a ui-sref="Ships">Ships</a>
            </li>
            <li role="presentation" ng-class="{'active': isActive('/Map')}">
                <a ui-sref="Map">Map</a>
            </li>
            <li role="presentation" ng-class="{'active': isActive('/Game')}">
                <a ui-sref="Game">Game</a>

            </li>
        </ul>
    </div>
</div>