<div class="row">
    <div class="col-md-12" style="margin-top: 10px">
        <ul class="nav nav-pills">
            <li role="presentation" ng-class="{active: isActive('/')}">
                <a href="#/">HOME</a>
            </li>
            <li role="presentation" ng-class="{'active': isActive('/Profile')}">
                <a href="#/Profile">Profile</a>
            </li>
            <li role="presentation" ng-class="{active: isActive('/Messages')}">
                <a href="#/Messages">Messages</a>
            </li>
            <li role="presentation" ng-class="{active: isActive('/Ships')}">
                <a href="#/Ships">Ships</a>
            </li>
            <li role="presentation" ng-class="{'active': isActive('/Map')}">
                <a href="#/Map">Map</a>
            </li>
            <li role="presentation" ng-class="{'active': isActive('/Game')}">
                <a href="#/Game">Game</a>

            </li>
        </ul>
    </div>
</div>