

<div class="loadingModal" ng-show="loading"></div>

<h2>{{currentPlayer}} profile</h2>

<div class="row">

    <div class="col-lg-3">
        Current Incomes

        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">{{currentOrange}}</span>
                Orange :
            </li>
            <li class="list-group-item">
                <span class="badge">{{currentPink}}</span>
                Pink :
            </li>
            <li class="list-group-item">
                <span class="badge">{{currentBrown}}</span>
                Brown :
            </li>
        </ul>
    </div>
    <div class="col-lg-6">
        Income Track
        <table class="table table-bordered">
            <tr class="">
                <td ng-repeat="inc in orange" ng-class="inc.covered ? 'coveredOrange' : 'uncovered'">
                    {{inc.income}}
                </td>
            </tr>

            <tr class="">
                <td ng-repeat="inc in pink" ng-class="inc.covered ? 'coveredPink' : 'uncovered'">
                    {{inc.income}}
                </td>
            </tr>

            <tr class="">
                <td ng-repeat="inc in brown" ng-class="inc.covered ? 'coveredBrown' : 'uncovered'">
                    {{inc.income}}
                </td>
            </tr>
        </table>

        <table class="table">
            <tr>
                <td>
                    Explore
                </td>
                <td>Influence</td>
                <td>Research</td>
                <td>Upgrade</td>
                <td>Build</td>
                <td>Move</td>
            </tr>
            <tr>
                <td>
                    <button class="btn" ng-click="takeAction('EXPLORE')">EXP</button>
                </td>
                <td>
                    <button class="btn" ng-click="takeAction('INFLUENCE')">INF</button>
                </td>
                <td>
                    <button class="btn" ng-click="takeAction('RESEARCH')">RES</button>
                </td>
                <td>
                    <button class="btn" ng-click="takeAction('UPGRADE')">UPG</button>
                </td>
                <td>
                    <button class="btn" ng-click="takeAction('BUILD')">BUI</button>
                </td>
                <td>
                    <button class="btn" ng-click="takeAction('MOVE')">MOV</button>
                </td>
            </tr>

        </table>

    </div>

    <div class="col-lg-2">
        Unapplied upgrades

        <div class="upgradeTile tileTrack">
            <img class="upgradeImage" src="http://lorempixel.com/75/75/" />
            <div class="tileDetail">Death Stars</div>
        </div>
        <div class=" upgradeTile tileTrack">
            <img class="upgradeImage" src="http://lorempixel.com/75/75/" />
            <div class="tileDetail">Warp Drives</div>
        </div>


    </div>
    <div class="col-lg-1 ">
        <strong>Colony</strong>
        <div ng-repeat="ship in colonyShips" class="colonyToken">
            <img src="http://lorempixel.com/50/50/" class="colonyShipImage" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-9">

        <div ng-show="takingAction" class="takingTurns">
            <div>
                <button class="btn btn-danger" ng-click="cancelAction()">Cancel Action</button>
                <h1>{{currentAction}}</h1>
                
                <div ui-view="actionViews"></div>

            </div>
        </div>



        <table class="table">
            <tr>
                <td ng-repeat="disc in discs">
                    <div class="disc" ng-class="(disc.occupied) ? 'unusedDisc' : ''" title="Cost : {{disc.cost}}">
                        <span class="discValue" ng-hide="disc.occupied">{{disc.cost}}</span>
                    </div>
                </td>

            </tr>
        </table>
    </div>

</div>

<div class="row">
    <div class="col-lg-9">
        Science Track

        <table class="table table-bordered">
            <tr>
                <td ng-repeat="tile in starTrack">
                    <div class="tile">
                        <span class="fa fa-star-o fa-5x tileTrack" ng-hide="tile.Image != null"></span>

                        <img class="tileImage" src="http://lorempixel.com/65/65/" ng-show="tile.Image != null" />

                    </div>
                    <div class="tileDetail">
                        Reduction : {{tile.CostReduction}}
                    </div>
                    <div class="tileDetail">
                        Points : {{tile.VictoryPoints}}
                    </div>
                </td>
            </tr>
            <tr>
                <td ng-repeat="tile in gridTrack">
                    <div class="tile">
                        <span class="fa fa-cubes fa-5x tileTrack" ng-hide="tile.Image != null"></span>
                        <img class="tileImage" src="http://lorempixel.com/65/65/" ng-show="tile.Image != null" />
                    </div>
                    <div class="tileDetail">
                        Reduction : {{tile.CostReduction}}
                    </div>
                    <div class="tileDetail">
                        Points : {{tile.VictoryPoints}}
                    </div>
                </td>
            </tr>
            <tr>
                <td ng-repeat="tile in gearTrack">
                    <div class="tile">
                        <span class="fa fa-cog fa-5x tileTrack" ng-hide="tile.Image != null"></span>
                        <img class="tileImage" src="http://lorempixel.com/65/65/" ng-show="tile.Image != null" />
                        <!--<img class="tileImage" ng-src="{{tile.Image}}" ng-show="tile.Image != null" />-->
                    </div>
                    <div class="tileDetail">
                        Reduction : {{tile.CostReduction}}
                    </div>
                    <div class="tileDetail">
                        Points : {{tile.VictoryPoints}}
                    </div>
                </td>
            </tr>


        </table>

    </div>
</div>